**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

# Python project extras
.git
__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
.pytest_cache
.mypy_cache
.pyrightconfig.json
plan/
tests/
example/
configure_*.sh
docker-compose_*.yml
