[defaults]
roles_path = roles
collections_path = collections
retry_files_enabled = False
stdout_callback = yaml
allow_broken_conditionals = true

[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r
pipelining = True
